name: Remote Run
on:
  push:
    branches: [ main ]
jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: { fetch-depth: 0 }
      - name: Run
        run: |
          mkdir -p logs
          ID=$(ls input/run_*.json | xargs -n1 basename | cut -d'_' -f2 | cut -d'.' -f1)
          javac src/Main.java
          java -cp src Main < input/input_$ID.txt > logs/output_$ID.txt 2>&1 || echo "--- EXECUTION FAILED ---" >> logs/output_$ID.txt
          echo "--- FINISHED ---" >> logs/output_$ID.txt
      - name: Upload
        run: |
          git config user.name "Runner"
          git config user.email "r@edu.com"
          git add logs/ && git commit -m "Logs" && git push origin main:logs --force